.columns > div {
  display: flex;
  flex-direction: column-reverse;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  width: 100%
}

.columns > div > div:not(.columns-img-col) {
  width: 100%;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns h3 {
  font-size: 62px;
  line-height: 64px;
  font-family: Trade-Gothic, roboto, sans-serif;
  margin-top: 0;
}

.columns p {
  font-size: 18px;
}

.columns .button-container a {
  background-color: rgb(0, 113, 188);
  color: #fff;
  padding: 1rem 2rem;
  max-width: 375px;
  width: 100%;
}

.columns .button-container a:hover {
  background-color: #003b5c;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    order: unset;
  }


  .columns > div > .columns-img-col {
    width: 60%;
  }
  
  .columns > div > div:not(.columns-img-col) {
    width: 40%;
    padding-right: 7rem;
    box-sizing: border-box;
  }

  .columns > div > .columns-img-col img {
    border-radius: 6rem 0rem 0rem .5rem;
  }
}