.article-wrapper > .article {
	padding: 80px 1.5 rem 0 0;
	display: grid;
	/* grid-template-columns: repeat(12, 1fr); */
	column-gap: 2rem;
}

.article-content-wrapper {
	grid-column: span 8;
}

.article-content-wrapper > div h2 {
	margin: 0 0 32px 0;
	color: var(--text-color);
	line-height: 1.3;
    font-size: 1.4rem;
	font-weight: 600;
}

.article-content-wrapper > div h3 {
  margin-bottom: 0.5rem;
	color: var(--text-color);
}

.article-content-wrapper > div a {
	text-decoration: underline;
	text-underline-position: under;
	color: var(--link-hover-color);
	font-weight: 600;
}

.article-content-wrapper > div a:hover {
	text-decoration: none;
}

.article-content-wrapper > div p,
.article-content-wrapper > div ul {
    line-height: 1.6;
    letter-spacing: .01em;
	font-weight: 400;
	font-size: 1rem;
}

.article-content-wrapper > div p:last-of-type {
	margin-bottom: 64px;
}

.article .sidebar {
	grid-column: span 3;
	padding: 1rem;
}

.article .sidebar h3 {
    color: var(--subheading-color);
	letter-spacing: .06em;
    line-height: 1.5;
	font-size: .875rem;
	margin: 0 0 48px 0;
	font-weight: 700;
}

.article .sidebar a {
	position: relative;
	color: var(--link-hover-color);
	font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
	display: block;
	margin-bottom: 32px;
	width: fit-content;
}

.article .sidebar a:hover {
	text-decoration: underline;
	text-underline-position: under;
}


.article .sidebar a::after {
	content: '';
	width: 16px;
	height: 16px;
	background: url(../../icons/chevron.svg);
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
    vertical-align: middle;
	bottom: .125rem;
	margin-left: 4px;
	filter: invert(25%) sepia(52%) saturate(3833%) hue-rotate(219deg) brightness(93%) contrast(93%);
}

.section.article-container  .article-wrapper {
  width: 50%;
}

.section.article-container .default-content-wrapper {
	width: 50%;
	text-align: center;
}

.section.article-container .default-content-wrapper h1 {
	font-size: 36px;
	line-height: 48px;
	font-family: Trade-1376c, roboto, sans-serif;
}

.section.article-container .default-content-wrapper p:first-of-type {
	font-size: 18px;
}

@media (width <= 900px) {
	.article-wrapper > .article {
		grid-template-columns: repeat(4, 1fr);
		padding: 40px 0 1rem;
	}
	
	.article-content-wrapper {
		grid-column: span 4;
	}

	.article .sidebar {
		grid-column: span 4;
	}

  .section.article-container .article-wrapper {
    width: 100%;
  }

	.section.article-container .default-content-wrapper {
		width: 100%
	}
}