/* header and nav layout */
header .nav-wrapper {
	background-color: var(--background-color);
	width: 100%;
	z-index: 2;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 0.5rem 0;
}

header nav#nav {
	box-sizing: border-box;
	display: grid;
	grid-template:
		"hamburger brand tools" var(--nav-height) "sections sections sections" 1fr / auto 1fr auto;
	align-items: center;
	gap: 0 2em;
	margin: auto;
	max-width: 1440px;
	height: var(--nav-height);
	padding: 0 1rem;
	font-family: var(--body-font-family);
}

header nav#nav[aria-expanded="true"] {
	grid-template:
		"hamburger brand" var(--nav-height) "sections sections" 1fr
		"tools tools" var(--nav-height) / auto 1fr;
	overflow-y: auto;
	min-height: 100vh;
}

@media (width >=600px) {
	header nav#nav {
		padding: 0 2rem;
	}
}

@media (width >=900px) {
	header nav#nav {
		display: flex;
		justify-content: space-between;
	}

	header nav#nav[aria-expanded="true"] {
		min-height: 0;
		overflow: visible;
	}
}

header nav#nav p {
	margin: 0;
	line-height: 1;
}

header nav#nav a:any-link {
	color: currentcolor;
	display: block;
}

/* hamburger */
header nav#nav .nav-hamburger {
	grid-area: hamburger;
	height: 22px;
	display: flex;
	align-items: center;
}

header nav#nav .nav-hamburger button {
	height: 22px;
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 0;
	background-color: var(--background-color);
	color: inherit;
	overflow: initial;
	text-overflow: initial;
	white-space: initial;
}

header nav#nav .nav-hamburger-icon,
header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 20px;
}

header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
	content: "";
	position: absolute;
	background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
	height: 2px;
	border-radius: 2px;
	background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before {
	top: -6px;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
	top: 6px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon {
	height: 22px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
	top: 3px;
	left: 1px;
	transform: rotate(45deg);
	transform-origin: 2px 1px;
	width: 24px;
	height: 2px;
	border-radius: 2px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
	top: unset;
	bottom: 3px;
	transform: rotate(-45deg);
}

@media (width >=900px) {
	header nav#nav .nav-hamburger {
		display: none;
		visibility: hidden;
	}
}

/* brand */
header .nav-brand {
	grid-area: brand;
	flex-basis: 128px;
	font-size: var(--heading-font-size-s);
	font-weight: 700;
	line-height: 1;
}

header nav#nav .nav-brand img {
	height: 26px;
	width: auto;
}

/* sections */
header nav#nav .nav-sections {
	grid-area: sections;
	flex: 1 1 auto;
	display: none;
	visibility: hidden;
}

header nav#nav[aria-expanded="true"] .nav-sections {
	display: block;
	visibility: visible;
	align-self: start;
}

header nav#nav .nav-sections ul {
	list-style: none;
	padding-left: 0;
	font-size: var(--body-font-size-s);
	font-weight: 500;
}

header nav#nav .nav-sections ul>li {
	font-weight: 700;
}

header nav#nav .nav-sections ul>li>ul {
	margin-top: 0;
}

header nav#nav .nav-sections ul>li>ul>li {
	font-weight: 500;
}

@media (width >=900px) {
	header nav#nav .nav-sections {
		display: block;
		visibility: visible;
		white-space: nowrap;
	}

	header nav#nav a:any-link {
		display: block;
	}

	header nav#nav[aria-expanded="true"] .nav-sections {
		align-self: unset;
	}

	header nav#nav .nav-sections .nav-drop {
		position: relative;
		padding-right: 16px;
		cursor: pointer;
		z-index: 10;
	}

	header nav#nav .nav-sections .nav-drop::after {
		content: "";
		display: inline-block;
		position: absolute;
		top: 0.5em;
		right: 2px;
		transform: rotate(135deg);
		width: 6px;
		height: 6px;
		border: 2px solid currentcolor;
		border-radius: 0 1px 0 0;
		border-width: 2px 2px 0 0;
		color: #767676;
		opacity: 0.75;
	}

	header nav#nav .nav-sections .nav-drop[aria-expanded="true"]::after {
		top: unset;
		bottom: 0.5em;
		transform: rotate(315deg);
	}

	header nav#nav .nav-sections ul {
		display: flex;
		gap: 1.25em;
		margin: 0;
		font-size: var(--body-font-size-xs);
		justify-content: center;
	}

	header nav#nav .nav-sections .default-content-wrapper>ul>li {
		flex: 0 1 auto;
		position: relative;
		font-weight: 500;
	}

	header nav#nav .nav-sections .default-content-wrapper>ul>li a:hover {
		color: #767676;
		text-decoration: none;
	}

	header nav#nav .nav-sections .default-content-wrapper>ul>li a {
		text-decoration: none;
	}

	header nav#nav .nav-sections .default-content-wrapper>ul>li>ul {
		display: none;
		position: relative;
	}

	header nav#nav .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul {
		display: block;
		position: absolute;
		left: -1em;
		width: 200px;
		margin-top: 35px;
		padding: 1em;
		background-color: var(--light-color);
		white-space: initial;
	}

	header nav#nav .nav-sections .default-content-wrapper>ul>li>ul::before {
		content: "";
		position: absolute;
		top: -8px;
		left: 8px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid var(--light-color);
	}

	header nav#nav .nav-sections .default-content-wrapper>ul>li>ul>li {
		padding: 8px 0;
	}
}

header .header > .default-content-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0.65rem 2rem;
	box-sizing: border-box;
	color: #767676;
}

header .header > .default-content-wrapper p:first-of-type {
	font-size: 14px;
	display: flex;
}

header .header > .default-content-wrapper p:first-of-type span:nth-child(2){
	margin-left: 1rem;
	border-left: 1px solid black;
	padding-left: 1rem;
}

header .header > .default-content-wrapper p:first-of-type .icon {
	width: 16px;
	height: auto;
	padding-right: 12px;
}

header .header > .default-content-wrapper p {
	margin: 0;
}

header .header > .default-content-wrapper p:nth-child(2) {
	font-style: normal;
	font-weight: 400;
	font-size: .8125rem;
	line-height: 1.25rem;
	letter-spacing: .005rem;
	display: flex;
	gap: 0.75rem;
}

header .header > .default-content-wrapper p:nth-child(2) a {
	color: #767676;
	font-size: 13px;
}

header .header > .default-content-wrapper p:nth-child(2) a:hover {
	text-decoration: none;
	color: #000;
}

@media (width <=900px) {
	header .header > .default-content-wrapper {
		display: none;
	}
}

/* tools */
header nav#nav .nav-tools {
	grid-area: tools;
}

header nav#nav .nav-tools .button {
	border: none;
	padding: 10px;
	margin: 0;
}

header .section.nav-tools .default-content-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

header .section.nav-tools .default-content-wrapper .icon {
	width: 14px;
	height: auto;
	padding-right: 7px;
}

header .section.nav-tools .default-content-wrapper a {
	font-size: 16px;
	font-weight: 400;
	padding: 0.75rem 1rem !important;
	border-radius: 1.25rem;
	background: #f4f4f4;
}

header .section.nav-tools .default-content-wrapper .button-container:nth-child(2) a {
	background: #0071bc;
	color: #fff !important;
}

header .section.nav-tools .default-content-wrapper .button-container:nth-child(2) a:hover {
	background-color: #003b5c;
}


@media (width <=900px) {
	header .section.nav-tools .default-content-wrapper p:first-of-type {
		display: none;
	} 	

	header nav[aria-expanded="true"] .section.nav-tools .default-content-wrapper p:first-of-type {
		display: inline-block;
	} 
}
/* breadcrumbs */
header .breadcrumbs {
	display: none;
	padding: 0 32px;
	width: 100%;
	height: var(--breadcrumbs-height);
	max-width: 1376px;
	overflow: hidden;
	margin: 0 auto;
	font-size: var(--breadcrumbs-font-size);
}

header .breadcrumbs ol {
	display: flex;
	flex-flow: wrap;
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	gap: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li {
	padding-inline-start: 0;
	opacity: 0.7;
}

header .breadcrumbs ol li:not(:last-child)::after {
	content: "/";
	padding-left: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li a:any-link {
	color: var(--text-color);
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li:last-of-type {
	opacity: 1;
}

@media screen and (width >=900px) {
	header .breadcrumbs {
		display: block;
	}
}